.content {
  margin: 30px;
}

.spacer {
  flex: 1 1 auto;
}

.save-button{
  background-color: #3b53ab;
  color: white;
}

mat-card-title {
  margin-bottom: 20px;
  color: darkgrey;
  font-size: 3.5rem;
}

mat-form-field {
  margin-top: 15px;
}
