<mat-card>
  <form [formGroup]="editDevice" (ngSubmit)="save()" class="content">
    <mat-card-title>Rediger enhed</mat-card-title>
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" style>
        <label for="id">
          <mat-form-field>
            <input matInput id="id" type="text" formControlName="id" readonly>
            <mat-label>Enheds-ID</mat-label>
          </mat-form-field>
        </label>
        <label>
          <mat-form-field>
            <mat-label>Pris</mat-label>
            <input matInput type="string" placeholder="price" formControlName="serialNumber">
          </mat-form-field>
        </label>
        <label>
          <mat-form-field appearance="fill" style="width: 450px">
            <mat-label>Vælg bruger</mat-label>
            <mat-select formControlName="userId">
              <mat-option *ngFor="let u of this.users" [value]="u.id">{{u.firstName}} {{u.lastName}} {{u.email}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </label>
        <label>
          <Span>Udleveringsdato</Span>
          <mat-form-field appearance="fill" style="width: 450px">
            <mat-label>Udleveringsdato</mat-label>
            <input
              matInput [matDatepicker]="DateOfIssue" formControlName="dateOfIssue">
            <mat-datepicker-toggle matIconSuffix [for]="DateOfIssue"></mat-datepicker-toggle>
            <mat-datepicker #DateOfIssue></mat-datepicker>
          </mat-form-field>
        </label>
        <label>
          <mat-form-field appearance="fill" style="width: 450px">
            <mat-label>Indleveringsdato</mat-label>
            <input matInput [matDatepicker]="DateOfTurnIn" formControlName="dateOfTurnIn">
            <mat-datepicker-toggle matIconSuffix [for]="DateOfTurnIn"></mat-datepicker-toggle>
            <mat-datepicker #DateOfTurnIn></mat-datepicker>
          </mat-form-field>
        </label>
      </div>
      <div fxFlex="25%" style="margin-left: 120px">
        <label>
          <mat-form-field>
            <input matInput type="text" placeholder="First Name" formControlName="deviceName">
            <mat-label>Fornavn</mat-label>
          </mat-form-field>
        </label>
        <mat-form-field appearance="fill">
          <mat-label>Status</mat-label>
          <mat-select formControlName="status" required>
            <mat-option value="I brug">I brug</mat-option>
            <mat-option value="På lager">På lager</mat-option>
            <mat-option value="I stykker">I stykker</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
      <button class="save-button" id="btnSave" mat-raised-button type="submit">Save</button>
  </form>
</mat-card>
