<mat-card>
  <form [formGroup]="errorReportForm" (ngSubmit)="sendErrorReport()">
    <label>
      Enhedens ID:
      <br>
      <mat-form-field>
        <input matInput deviceId="deviceId" type="text" formControlName="IdForm" readonly>
      </mat-form-field>
    </label>
    <label>
      Enhedens navn:
      <br>
      <mat-form-field>
        <input matInput deviceName="deviceName" type="text" formControlName="nameForm" readonly>
      </mat-form-field>
    </label>
    <br>
    <label>
      Emne:
      <br>
      <mat-form-field>
        <input matInput type="text" placeholder="Defekt skærm..." formControlName="subjectForm" required>
      </mat-form-field>
    </label>
    <br>
    <label>
      Beskrivelse:
      <br>
      <mat-form-field>
        <textarea matInput
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="max" placeholder="Enheden er begyndt at..." formControlName="bodyForm" required></textarea>
      </mat-form-field>
    </label>
    <br>
    <button id="btnSend" mat-raised-button type="send">Indsend fejlmelding til administrator</button>
  </form>
</mat-card>
