<mat-toolbar-row style="margin-bottom: 20px;">
  <mat-form-field style="margin-left: 0px;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  <span class="spacer"></span>
  <button mat-raised-button class="create-user-button" (click)="createUser()">Opret Bruger</button>
</mat-toolbar-row>

<div class="mat-elevation-z8" style="margin-left: 15px; margin-right: 15px;">
  <table mat-table
         [dataSource]="dataSource" multiTemplateDataRows
         class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
      <td mat-cell *matCellDef="let row" (click)="onSelect(row)"> {{row.id}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
      <td mat-cell *matCellDef="let row" (click)="onSelect(row)"> {{row.email}} </td>
    </ng-container>

    <!-- FirstName Column -->
    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Fornavn</th>
      <td mat-cell *matCellDef="let row" (click)="onSelect(row)"> {{row.firstName}} </td>
    </ng-container>

    <!-- LastName Column -->
    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Efternavn</th>
      <td mat-cell *matCellDef="let row" (click)="onSelect(row)"> {{row.lastName}} </td>
    </ng-container>

    <!-- Role Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Rolle</th>
      <td mat-cell *matCellDef="let row" (click)="onSelect(row)"> {{row.role}} </td>
    </ng-container>

    <!-- WorkNumber Column -->
    <ng-container matColumnDef="workNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Firma nummer</th>
      <td mat-cell *matCellDef="let row" (click)="onSelect(row)"> {{row.workNumber}} </td>
    </ng-container>

    <!-- PrivateNumber Column -->
    <ng-container matColumnDef="privateNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Privat nummer</th>
      <td mat-cell *matCellDef="let row" (click)="onSelect(row)"> {{row.privateNumber}} </td>
    </ng-container>

    <!-- PrivateMail Column -->
    <ng-container matColumnDef="privateMail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Privat mail</th>
      <td mat-cell *matCellDef="let row" (click)="onSelect(row)"> {{row.privateMail}} </td>
    </ng-container>

    <!-- Action-buttons Column -->
    <ng-container matColumnDef="rediger">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tilpas/Kontakt</th>
      <td mat-cell *matCellDef="let row">
        <mat-action-list>
          <mat-icon id="editUserBtn" (click)="editUser(row)">edit</mat-icon>
          <mat-icon id="sendMailBtn" (click)="sendMail(row)" style="margin-left: 10px;">mail</mat-icon>
          <mat-icon id="deleteUserBtn" (click)="deleteUser(row)" style="margin-left: 10px;">delete</mat-icon>
        </mat-action-list>
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let user" [attr.colspan]="displayedColumns.length">
        <div [@detailExpand]="user == expandedUser ? 'expanded' : 'collapsed'">
          <div>Enheder:</div>
        </div>
        <div *ngFor="let d of deviceService.assignedDevices">
          <div class="example-element-detail"
               [@detailExpand]="user == expandedUser ? 'expanded' : 'collapsed'">
            <!--<div class="example-element-diagram"> Enhed: </div> -->
            <div class="example-element-description">Id: {{d.id}}</div>
            <div class="example-element-description">Enhed: {{d.deviceName}}</div>
            <div class="example-element-description">Serie nummer: {{d.serialNumber}}</div>
            <div class="example-element-description">Status: {{d.status}}</div>
            <div class="example-element-description">Udleveret: {{d.dateOfIssue}}</div>
            <div class="example-element-description">Indlevering: {{d.dateOfTurnIn}}</div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedUser === element"
        (click)="expandedUser = expandedUser === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>






