<div class="content">
  <h1 style="color: dimgrey; font-size: 2.5rem;">Enheds Forespørgsel</h1>
  <br>
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Skærm" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>

      <!-- DeviceName Column -->
      <ng-container matColumnDef="deviceName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Enhed</th>
        <td mat-cell *matCellDef="let row"> {{row.deviceName}} </td>
      </ng-container>

      <!-- SerialNumber Column -->
      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Serie nummer</th>
        <td mat-cell *matCellDef="let row"> {{row.serialNumber}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
      </ng-container>

      <!-- DateOfIssue Column -->
      <ng-container matColumnDef="dateOfIssue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Udlevering</th>
        <td mat-cell *matCellDef="let row"> {{row.dateOfIssue}} </td>
      </ng-container>

      <!-- DateOfTurnIm Column -->
      <ng-container matColumnDef="dateOfTurnIn">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Indlevering</th>
        <td mat-cell *matCellDef="let row"> {{row.dateOfTurnIn}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>

      <ng-container matColumnDef="request">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Forespørg</th>
        <td mat-cell *matCellDef="let row">
          <mat-action-list>
            <mat-icon id="requestDeviceBtn" (click)="requestDevice(row)">record_voice_over</mat-icon>
          </mat-action-list>
        </td>
      </ng-container>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
