<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    Admin View
    <span class="spacer"></span>
    <img class="profile-picture" height="30" width="30" src="https://www.seekpng.com/png/detail/202-2024994_profile-icon-profile-logo-no-background.png">
    <span>{{http.firstName}} {{http.lastName}}</span>
    <button mat-icon-button style="align-self: center">
      <span><mat-icon>expand_more</mat-icon></span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

    <img class="avatar mat-elevation-z4"
         src="https://www.seekpng.com/png/detail/202-2024994_profile-icon-profile-logo-no-background.png"
         width="88%" height="22%">

    <h4 class="name">{{http.firstName}} {{http.lastName}}</h4>
    <p class="designation">{{http.role}}</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/administrator/enheder">
      <mat-icon>devices</mat-icon>
      <span>Enheder</span>
    </button>
    <button mat-button class="menu-button" routerLink="/administrator/enheds-registrering">
      <mat-icon>dvr</mat-icon>
      <span>Registrering</span>
    </button>
    <button mat-button class="menu-button" routerLink="/administrator/brugere">
      <mat-icon>people</mat-icon>
      <span>Brugere</span>
    </button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
 
    <button mat-button class="menu-button" (click)="logOut()">
      <mat-icon>logout</mat-icon>
      <span>Log ud</span>
    </button>
    <br>
    <br>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
