.profilePicture{
  height: 100px;
  width: 100px;
  max-width: 100px;
  max-height: 100px;
}

.content{
  margin-left: 10px;
}


#Accepter{
  color: white;
  background-color: #2b2bad;
}

#Afvis{
  color: white;
  background-color: red;
}

#Accepter:hover{
  color: white;
  background-color: rgba(43, 43, 173, 0.8);
}

#Afvis:hover{
  color: white;
  background-color: rgba(208, 34, 34, 0.8);
}

button{
  margin-right: 25px;
}

mat-card-actions{
  margin: 0px;
  padding: 0px;
}
