<ng-template [ngIf]="this.requests.length < 1" [ngIfElse]="Requests">
  <div>
    <p style="color: #2b2bad; font-size: 24px">Ingen forespørgsler</p>
  </div>
</ng-template>
<ng-template #Requests>
  <div class="content" *ngFor="let r of this.requests; let indexOfelement=index;">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
      <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%">
        <mat-card class="mat-elevation-z4">
          <mat-card-header>
            <mat-card-title>Forspørgsel sendt af:</mat-card-title>
            <mat-card-subtitle>{{this.Users[indexOfelement].email}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{this.Users[indexOfelement].profilePicture}}" class="profilePicture">
          <mat-card-content>
            <mat-card-subtitle style="color: #000000">Enhed: {{r.deviceName}}</mat-card-subtitle>
            <mat-card-subtitle style="color: #000000">Serienummer: {{r.serialNumber}}</mat-card-subtitle>
            <mat-card-actions>
              <button id="Acceptere" title="Acceptere" mat-raised-button (click)="accept(r)">Acceptere</button>
              <button id="Afvise" title="Afvise" mat-raised-button (click)="decline(r)">Afvise</button>
            </mat-card-actions>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
