table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 10%;
}

#request{
  padding-left: 45px;
}

#request:hover {
  color: #488f22;
  cursor: pointer;
}
