<mat-toolbar class="mat-elevation-z8">
  <mat-toolbar-row>
    <button
      mat-icon-button
      *ngIf="sidenav.mode === 'over'"
      (click)="sidenav.toggle()"
    >
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
    User View
    <span class="spacer"></span>
    <img class="profile-picture" height="30" width="30"
         [src]="profilePicture?? 'https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg'">
    <span>{{http.firstName}} {{http.lastName}}</span>
    <button mat-icon-button style="align-self: center" [matMenuTriggerFor]="menu">
      <span><mat-icon>expand_more</mat-icon></span>
    </button>
    <mat-menu class="profile-dropdown" #menu="matMenu">
      <button mat-menu-item routerLink="/bruger/profil-information">
        <mat-icon>person</mat-icon>
        <span>Profil oplysninger</span>
      </button>
      <button mat-menu-item (click)="logOut()">
        <mat-icon>logout</mat-icon>
        <span>Log ud</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z4"
         [src]="profilePicture?? 'https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg'"
         width="160" height="160">
    <br>
    <br>
    <h4 class="name">{{http.firstName}} {{http.lastName}}</h4>
    <p class="designation">{{http.role}}</p>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" routerLink="/bruger/profil-information">
      <mat-icon>person</mat-icon>
      <span>Profil</span>
    </button>
    <button mat-button class="menu-button" routerLink="/bruger/enheder">
      <mat-icon>devices</mat-icon>
      <span>Enheder</span>
    </button>
    <button mat-button class="menu-button" routerLink="/bruger/mine-enheder">
      <mat-icon>important_devices</mat-icon>
      <span>Mine enheder</span>
    </button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button mat-button class="menu-button" routerLink="/bruger/hjaelp">
      <mat-icon>help</mat-icon>
      <span>Hjælp</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
